@charset "utf-8";


// Typography

@font-face {
  font-family: "starjedi";
  src: url("/fonts/Starjedi.ttf") format("tff")
}

$font-logo: starjedi;



// Miscellaneous

$variable-columns: false !default; // recommended

// Other custom variables

